<nav class="header-admin">
  <div class="container navbar">
    <div>
       <%= link_to "Dashboard", admin_root_path %>
    </div>
    <ul>
      <% if current_user %>
        <%= link_to "Add Hotel", new_admin_hotel_path %>
        <%= link_to "Metrics", admin_root_path %>
        <a href="#">Hi <%= current_user.name %></a>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% end %>
    </ul>
  </div>
</nav>
