<div>
  <h2>List Bookings</h2>
</div>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Paid Price</th>
      <th>Room</th>
      <th>Hotel</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking|%>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.paid_price %></td>
        <td><%= booking.room.name %></td>
        <td><%= booking.room.hotel.name %></td>
        <td>
            <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>