<div>
  <hr>
  <% @hotels.each do |hotel| %>
    <h4>Hotel: <%= hotel.name %></h4>
    <h4>Country: <%= hotel.country %></h4>
    <h4>City: <%= hotel.city %></h4>
    <h2> 
      Until <%= hotel.promotions.last.discount_amount %> 
        <% if hotel.promotions.last.discount_type == "percentage"%>
          %
        <% else %>
          Soles
        <% end %>
      off
    </h2>
    <p>Direction: <%= hotel.address %></p>
    <p>Email: <%= hotel.email %></p>
    <hr>
  <% end %>  
</div>