<div class="search">
  <h2>Find offers all year round! </h2>
  <div>From cozy houses to modern apartments..</div>
  <%= render "partials/search" %>
</div>

<div>
  <% @rooms.each do |room| %>
    <div class="row card">
      <div class="media">
        <%= image_tag room.image.variant(resize: "300x250") %>
      </div>
      <div class="info">
        <h2><%= room.name %></h2>
        <div>
          <h4>Hotel: <%= room.hotel.name %></h4>
          <p>Price: <%= room.price %></p>
          <p>Num of beds: <%= room.amount_of_beds %></p>
        </div>
        <%= link_to "Reserve", reserve_path(room_id: room.id) %>
      </div>
    </div>
  <% end %>  
</div>
