<div class="search">
  <%= render "partials/search" %>
</div>

<div>
  <% @rooms.each do |room| %>
    <h4>Hotel: <%= room.hotel.name %></h4>
    <h4>City: <%= room.hotel.city %></h4>
    <h4>Name: <%= room.name %></h4>
    <p>Price: <%= room.price %></p>
    <p>Num of beds: <%= room.amount_of_beds %></p>
    <%= link_to "Reserved", reserve_path(room_id: room.id) %>
    <hr>
  <% end %>  
</div>
