<h1>Hi <%= @booking.room.hotel.name %></h1>
<p>
  The book number <%= @booking.id%> has been successfully created in your hotel <%= @booking.room.hotel.name %> The data of the book iss: 
  <dl>
    <dt>Start date</dt>
    <dd><%= @booking.start_date %></dd>
    <dt>End date</dt>
    <dd><%= @booking.end_date %></dd>
    <dt>Room</dt>
    <dd><%=@booking.room.name%></dd>
  </dl>
</p>
<p>Have a great day!</p>