<h2><%= @hotel.name %></h2>
<div>
  <p><b>Email:</b> <%= @hotel.email %></p>
  <p><b>City:</b> <%= @hotel.city %></p>
  <p><b>Country:</b> <%= @hotel.country %></p>
  <p><b>Address:</b> <%= @hotel.address %></p>
</div>
<%= link_to 'Back', admin_hotels_path %>

