<div class="search">
  <h2>Find offers all year round! </h2>
  <div>From cozy houses to modern apartments..</div>
  <%= render "partials/search" %>
</div>

<% @hotels.each do |hotel| %>
  <div class="row card">
    <div class="media">
      <%= image_tag hotel.image.variant(resize: "400x350") %>
    </div>
    <div class="info">
      <h2><%= link_to hotel.name, hotel_path(hotel) %></h2>
      <div>
        <p><b>City: </b><%= hotel.city %></p>
        <p><b>Country: </b><%= hotel.country %></p>
        <p><b>Address: </b><%= hotel.address %></p>
        <p><b>Num of rooms: </b><%= hotel.rooms.length %></p>
      </div>
    </div>
  </div>
<% end %>

