<%= form_tag reserve_path, :method => 'post', class: 'search__options' do %>
  <%= date_field_tag :start_date, params[:start_date], placeholder: 'Start Date' %>
  <%= date_field_tag :end_date, params[:end_date], placeholder: 'End Date' %>
  <%= hidden_field_tag :room_id, @room.id %>
  <div class="row">
    <div class="media">
      <%= image_tag @room.image.variant(resize: "300x250") %>
    </div>
    <div class="info">
      <h2><%= @room.name %></h2>
      <div>
        <h4>Hotel: <%= @room.hotel.name %></h4>
        <p>Price: <%= @room.price %></p>
        <p>Num of beds: <%= @room.amount_of_beds %></p>
      </div>
      <%= submit_tag "Reserve", :name => nil %>
    </div>
  </div>
<% end %>
